/* .App {
  text-align: center; */
/* } */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header { */
  /* .Main { */
.App {
  text-align: center;    
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: white;
  /* padding: 20px 0 0 0; */
}

.App-link {
  /* color: #61dafb; */
  color: #BB86FC;
  padding: 10px 20px;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*  */

.Input {
    /* border: none;
    border-radius: 50px; */
    /* background-color: #eee; */
    width: 100%;
    /* padding: 12px 20px;
    margin: 8px 0; */  
}

.Ghost-button {
  text-decoration: none;
  border: 1px solid;
}
/* .Errors {
  font-weight: 500;

} */

.Message {
  border-radius: 50px;
  padding: 10px 16px;
  outline: 1px solid;
  list-style-type: none;
  /* width: 100% */
}

.li {
  list-style-type: none;
  /* text-align: left; */
}

