/* .App {
  text-align: center; */
/* } */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header { */
  /* .Main { */
.App {
  text-align: center;    
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: white;
  /* padding: 20px 0 0 0; */
}

.App-link {
  /* color: #61dafb; */
  color: #BB86FC;
  padding: 10px 20px;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*  */

.Input {
    /* border: none;
    border-radius: 50px; */
    /* background-color: #eee; */
    width: 100%;
    /* padding: 12px 20px;
    margin: 8px 0; */  
}

.Ghost-button {
  text-decoration: none;
  border: 1px solid;
}
/* .Errors {
  font-weight: 500;

} */

.Li {
  list-style-type: none;
}

.Message {
  border-radius: 10px;
  padding: 16px;
  margin: 20px 20px 0 20px;
  outline: 1px solid;
  list-style-type: none;
  text-align: left;
}

.Message-button {
  margin: 0 0 0 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
}

.Message-input {
  margin: 0 0 100px 0;
}

.Sender {
  color: #999;
  text-align: right;
  font-style: italic;
  font-size: 13px;
  margin: 5px 20px 20px 40px;
}

.Text-box {
  border-radius:  4px;
  border: 1px solid #fff;
  /* height: 40px; */
  /* background: none; */
  /* rows: 4; */
}

.Reaction-select {
  margin: 0 0 0 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
}